[Unit]
Description=Open Build Service API Delayed Job Handler
After=syslog.target

[Service]
ExecStart=/usr/bin/obsapidelayed start
ExecStop=/usr/bin/obsapidelayed stop
Restart=on-abort
