[Unit]
Description=Open Build Service API Setup
After=syslog.target

[Service]
ExecStart=/usr/sbin/obsapisetup start
ExecStop=/usr/sbin/obsapisetup stop
Restart=on-abort
