[Unit]
Description=Open Build Service API Delayed Job Handler
After=syslog.target

[Service]
ExecStart=/usr/sbin/obsapidelayed start
ExecStop=/usr/sbin/obsapidelayed stop
Restart=on-abort
