[Unit]
Description=Open Build Service Job Dispatcher
After=syslog.target

[Service]
ExecStart=/usr/sbin/obsdispatcher start
ExecStop=/usr/sbin/obsdispatcher stop
Restart=on-abort
