[Unit]
Description=Open Build Service Repository Publisher
After=syslog.target

[Service]
ExecStart=/usr/sbin/obspublisher start
ExecStop=/usr/sbin/obspublisher stop
Restart=on-abort
