[Unit]
Description=Open Build Service Repository Server
After=syslog.target

[Service]
ExecStart=/usr/sbin/obsrepserver start
ExecStop=/usr/sbin/obsrepserver stop
Restart=on-abort
