[Unit]
Description=Open Build Service Repository Server
After=syslog.target

[Service]
ExecStart=/usr/bin/obsrepserver start
ExecStop=/usr/bin/obsrepserver stop
Restart=on-abort
