[Unit]
Description=Open Build Service Signer
After=syslog.target

[Service]
ExecStart=/usr/sbin/obssigner start
ExecStop=/usr/sbin/obssigner stop
Restart=on-abort
