[Unit]
Description=Open Build Service Source Service Server
After=syslog.target

[Service]
ExecStart=/usr/sbin/obsservice start
ExecStop=/usr/sbin/obsservice stop
Restart=on-abort
