[Unit]
Description=Open Build Service Repository Job Scheduler
After=syslog.target

[Service]
# Needs to run more times for each architecture
ExecStart=/usr/sbin/obsscheduler start
ExecStop=/usr/sbin/obsscheduler stop
Restart=on-abort
