[Unit]
Description=Open Build Service Storage Setup
After=syslog.target

[Service]
ExecStart=/usr/sbin/obsstoragesetup start
ExecStop=/usr/sbin/obsstoragesetup stop
Restart=on-abort
