[Unit]
Description=Open Build Service Source Repository Server
After=syslog.target

[Service]
ExecStart=/usr/bin/obssrcserver start
ExecStop=/usr/bin/obssrcserver stop
Restart=on-abort
