[Unit]
Description=Open Build Service Storage Setup
After=syslog.target

[Service]
ExecStart=/usr/bin/obsstoragesetup start
ExecStop=/usr/bin/obsstoragesetup stop
Restart=on-abort
