[Unit]
Description=Open Build Service Source Repository Server
After=syslog.target

[Service]
ExecStart=/usr/sbin/obssrcserver start
ExecStop=/usr/sbin/obssrcserver stop
Restart=on-abort
