[Unit]
Description=Open Build Service Worker
After=syslog.target

[Service]
ExecStart=/usr/sbin/obsworker start
ExecStop=/usr/sbin/obsworker stop
Restart=on-abort
