[Unit]
Description=Open Build Service Warden
After=syslog.target

[Service]
ExecStart=/usr/sbin/obswarden start
ExecStop=/usr/sbin/obswarden stop
Restart=on-abort
